<configuration>
    <dllmap dll="avcodec-51.dll" os="windows" target="avcodec-51.dll" />
    <dllmap dll="avcodec-51.dll" os="osx" target="libavcodec.so.51" />
    <dllmap dll="avcodec-51.dll" os="!windows,osx" target="libavcodec.so.51" />

    <dllmap dll="avformat-52.dll" os="windows" target="avformat-52.dll" />
    <dllmap dll="avformat-52.dll" os="osx" target="libavformat.so.52" />
    <dllmap dll="avformat-52.dll" os="!windows,osx" target="libavformat.so.52" />

    <dllmap dll="avutil-49.dll" os="windows" target="avutil-49.dll" />
    <dllmap dll="avutil-49.dll" os="osx" target="libavutil.so.49" />
    <dllmap dll="avutil-49.dll" os="!windows,osx" target="libavutil.so.49" />

    <dllmap dll="swscale-0.dll" os="windows" target="swscale-0.dll" />
    <dllmap dll="swscale-0.dll" os="osx" target="libswscale.so.0" />
    <dllmap dll="swscale-0.dll" os="!windows,osx" target="libswscale.so.0" />
</configuration>
